/* Global Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.primary-color {
  color: coral;
}

.primary-bg {
  background-color: coral;
}

.primary-button {
  margin: 20px 0;
  color: white;
  background-color: coral;
  border: none;
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 15px;
}

.second-button {
  background-color: transparent;
  border: 1px solid white;
}

.section-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}

.section-Subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 14px 0;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: left;
}

a {
  text-decoration: none;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}
section {
  width: 1100px;
  margin: 0 auto;
}

/* Header Styles */

header {
  height: auto;
  background-color: #868a8a;
}

.header {
  justify-content: left;
  align-items: center;
  padding: 20px 0;
}

.header div h3 {
  font-size: 30px;
}

.header div {
  flex: 1;
}

nav {
  border: 1px solid white;
  flex: 1;
  border-radius: 20px;
  padding: 1.5px;
}

nav li {
  padding: 5px 30px;
  border-radius: 20px;
  list-style: none;
  align-items: center;
}

nav li a {
  text-decoration: none;
  color: white;
}

.show {
  visibility: hidden;
}

/* Banner Styles */

.banner {
  padding-top: 30px;
}

.banner-text {
  padding-top: 50px;
}

.banner > div {
  flex: 1;
}

.banner > div > h1 {
  font-size: 72px;
  color: white;
}

.banner > div > h1 > span {
  color: coral;
}

.banner .banner-content {
  justify-content: end;
  align-items: center;
}

/* Habit Styles */

.habit {
  padding: 150px 0;
}

.habit-content {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
}

.habit-content div {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  flex: 1;
}

.habit-content img {
  border-radius: 50%;
  border: 5px solid gray;
}

.habit-content h4 {
  color: white;
  margin: 10px 0;
}

.habit-content p {
  color: gray;
}

/* Card Styles */

.card-content {
  border-radius: 20px;
  padding: 20px;
  background-color: gray;
  column-gap: 20px;
  margin: 40px 0;
}

.card-content div img {
  border-radius: 20px;
  width: 100%;
  justify-content: end;
  align-items: end;
}

.card-text {
  width: 100%;
}

.habit-img {
  width: 100%;
  border-radius: 20px;
  background: url(./images/run.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* BMI Styles */

.BMI {
  row-gap: 15px;
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bmi-calculate {
  background-color: gray;
  padding: 20px;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px 20px;
}

table {
  margin-top: 50px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

select {
  width: 100%;
}

#activity-factor {
  column-span: all;
}

/* Team Styles */

.team {
  padding: 90px 0;
}
.team .content {
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: gray;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.team .content img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
/* footer */
footer {
  padding-top: 80px;
  background-color: gray;
  color: white;
  width: 100%;
  margin: 0 auto;
}
.upper-footer {
  padding: 20px;
  justify-content: space-around;
}
.upper-footer > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-content: center;
  justify-content: center;
}
.upper-footer > div > h3 {
  font-size: 48px;
}
.upper-footer > div > a {
  color: white;
}
.copyrights {
  border-top: 1px solid black;
  padding: 10px 0;
  text-align: center;
}
